{{#extends 'base'}}
{{#if success_messages }}
{{#each success_messages}}
<div class="alert alert-success">
    {{this}}
</div>
{{/each}}
{{/if}}

{{#if error_messages}}
{{#each error_messages}}
<div class="alert alert-danger">
    {{this}}
</div>
{{/each}}
{{/if}}

{{#block 'content'}}

<h2>Search</h2>
<form method="GET">
   {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn btn-primary" value="Search"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Images</th>
            <th>Cost</th>
            <th>Application</th>
            <th>Tags</th>
            <th>Description</th>
            <th>Warranty</th>
            <th>Indoor Unit</th>
            <th>Outdoor Unit</th>
            <th>Date Created</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.brand.name}}
            </td>
            <td>
                {{this.category.name}}
            </td>
            <td>
                {{#if image_url}}
                <img src="{{image_url}}" class="image-fluid" style="width:150%; height:auto;" />
                {{/if}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.application.name}}
            </td>
            <td>
                {{#each this.tags}}
                <span class="badge bg-secondary">{{this.name}}</span>
                {{/each}}
            </td>

            <td>
                {{this.description}}
            </td>
            <td>
                {{this.warranty}}
            </td>
            <td>
                {{this.indoor_unit}}
            </td>
            <td>
                {{this.outdoor_unit}}
            </td>
            <td>
                {{this.date_created}}
            </td>
            <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}